  /* UNIVERSAL PAGE CSS  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.whole-body {
  background-color: #e4e4e4;
}

 /* HEADER CSS  */


/* UPPER TEXT CSS  */
.upper-txt {
  color: white;
  background-color: black;
  text-align: center;
  font-size: 1rem;
  height: 2rem;
  padding-top: 0.25%;
  padding-bottom: 0.25%;
  margin-bottom: 0;
}

/* NAVBAR CSS STARTED  */

.navbar {
  z-index: 1;
  margin-top: 2%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  padding: 0rem 1.5rem;
  height: 3rem;
  width: 97%;
  border-radius: 1rem;
  background-color: rgb(255, 255, 255);
  position: sticky;
  top: 0;
}
.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
.montserrat-uniquifier {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.group {
  display: flex;
  line-height: 40px;
  align-items: center;
  position: relative;
  width: 27%;
}

.input {
  width: 100%;
  height: 2rem;
  line-height: 29px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 1rem;
  outline: none;
  background-color: #acacac;
  color: #0d0c22;
  transition: 0.3s ease;
}

.input::placeholder {
  color: #ffffff;
  font-size: 0.85rem;
}
input:hover {
  color: #ffffff;
  outline: none;
  border-color: rgba(234, 76, 137, 0.4);
  background-color: #1e1e1e;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #ffffff;
  width: 1rem;
  height: 1.25rem;
}
.btn {
  width: 6.5em;
  height: 2rem;
  margin: 0.5em;
  background: black;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 0.625em;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.btn:hover {
  background-color: black !important;
  color: white !important;
}
/* NAVBAR CSS ENDED  */

/* HEADER CSS ENDED  */

/* HERO CSS  */

/* MAIN HERO BANNER CSS  */

.hero-banner {
  display: flex;
  justify-content: center;
  margin-top: -4rem;
  background-image: url(/Images/herobanner1.jpg);
  background-size: cover;
  height: 40rem;
}

.hero-h1 {
  margin-top: 7rem;
  color: #000000;
  font-size: 3rem;
}

/* BUTTON 2  */

.animated-button {
  position: absolute;
  margin-top: 12rem;
  margin-right: 50rem;
  padding: 10px 20px;
  border: none;
  font-size: 1.2rem;
  background-color: rgb(73, 0, 101);
  border-radius: 100px;
  font-weight: 400;
  color: #fffefe;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button span:last-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -50%);
  width: 2rem;
  height: 1rem;
  background-color: #000000;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button span:first-child {
  position: relative;
  z-index: 1;
}

.animated-button:hover {
  box-shadow: 0 0 0 5px #ffffff60;
  color: #ffffff;
}

.animated-button:active {
  scale: 0.95;
}

.animated-button:hover span:last-child {
  width: 150px;
  height: 150px;
  opacity: 1;
}

/* BUTTON 2  */

.animated-button1 {
  position: absolute;
  margin-top: 12rem;
  margin-right: 30rem;
  padding: 10px 20px;
  border: none;
  font-size: 1.2rem;
  background-color: rgb(101, 0, 0);
  border-radius: 100px;
  font-weight: 400;
  color: #fffefe;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button1 span:last-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2rem;
  height: 1rem;
  background-color: #000000;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button1 span:first-child {
  position: relative;
  z-index: 1;
}

.animated-button1:hover {
  box-shadow: 0 0 0 5px #ffffff60;
  color: #ffffff;
}

.animated-button1:active {
  scale: 0.95;
}

.animated-button1:hover span:last-child {
  width: 150px;
  height: 150px;
  opacity: 1;
}

/* CAROSUEL CSS STARTED */

.rounded-carousel {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  margin-top: -3.5rem;
  border-radius: 1.8rem;
  overflow: hidden;
  height: 30rem;
}
.carousel-items img {
  transform: translateY(-4rem);
  transition: transform 0.5s ease-in-out;
}

/* CAROUSEL CSS ENDED  */

/* CARDS CSS STARTED  */

.custom-cards {
  margin-top: 1rem;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
}
.cd-img1 {
  background-image: url(/Images/cd1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.5s ease-in-out;
  top: 40%;
  margin-left: 1rem;
  width: 100%;
  height: 400px;
  border: 2px solid transparent;
  /* border-radius: 16px; */
}
.cd-img2 {
  background-image: url(/Images/cd2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.5s ease-in-out;
  top: 40%;
  width: 100%;
  height: 400px;
  border: 2px solid transparent;
  border-radius: 2rem;
}
.cd-img3 {
  background-image: url(/Images/cd3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.5s ease-in-out;
  top: 40%;
  width: 100%;
  height: 400px;
  border: 2px solid transparent;
  border-radius: 2rem;
}
.cd-img4 {
  background-image: url(/Images/cd4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  top: 40%;
  margin-right: 1rem;
  transition: 0.5s ease-in-out;
  width: 100%;
  height: 400px;
  border: 2px solid transparent;
  border-radius: 2rem;
}
.cd-img1:hover {
  border-radius: 40%;
  transition: 1s;
}
.cd-img2:hover {
  border-radius: 40%;
  transition: 1s;
}
.cd-img3:hover {
  border-radius: 40%;
  transition: 1s;
}
.cd-img4:hover {
  border-radius: 40%;
  transition: 1s;
}

.cd-button {
  text-decoration: none;
  top: 40%;
  left: 35%;
  padding: 10px 15px;
  border: 1px solid white;
  color: #ffffff;
  z-index: 1;
  background: transparent;
  position: relative;
  font-weight: 400;
  font-size: 0.75rem;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

.cd-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  /* border-radius: 2rem; */
  background-color: #ffffff;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.cd-button:hover {
  color: #000000;
}

.cd-button:hover::before {
  width: 100%;
}

/* CARD CSS ENDED  */

/* BANNER CSS STARTED  */

.carousel-item {
  height: 47rem;
  margin-top: 1rem;
  border-radius: 4rem;
  overflow: hidden;
}
 
/* BANNER CSS ENDED  */

/* FOOTER CSS  */


footer{
background-color: black;
}
.text-uppercase{
  color: white;
}
.text-reset{
  color: white;
}